/*
*/*

!/.bashrc
!/.bash_profile
!/.gitconfig
!/.gitignore
!/.tmux.conf
!/.vimrc
!/.pip

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/blurlock
!/.local/bin/screenshot
!/.local/share
/.local/share/*
!/.local/share/wallpaper

!/.config
/.config/*
!/.config/alacritty
!/.config/dunst
!/.config/sway
!/.config/swappy
!/.config/waybar
!/.config/zathura

!/.vim
/.vim/*
!/.vim/coc-settings.json
